<!DOCTYPE html>
<html>
<head>
  <title>Graduation Peoject Share</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/popper.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/static/css/detail.css">
<style>
  div{
    /* border: 1px solid; */
  }
#totalPage a:hover{
    background-color: #ffffff;
}
</style>
</head>
<body>

<div class="container-fluid" style="text-align:center;">
  <div class="row bg-dark navbar-dark">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="border-radius:4px;">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="#">Logo</a>

        <!-- Links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="../index">首页</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">关于</a>
          </li>
{#          <li class="nav-item">#}
{#            <a class="nav-link" href="#">Link 3</a>#}
{#          </li>#}
        </ul>
      </nav>

    </div>
    <div class="col-sm-3"></div>
  </div>

  <br>
  <div class="row">
    <div class="col-sm-6 offset-sm-3 text-left">
      <h1>项目列表</h1>
          <br>
        <form action="../search" id="searchForm">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search" name="keyword" id="keyword">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button" id="searchBtn" onclick="search_submit()">&nbsp;&nbsp;Go&nbsp;&nbsp;</button>
                 </div>
            </div>
        </form>
    </div>
  </div>



  <div class="row">
    <div class="col-sm-3">预留位</div>
    <div class="col-sm-6 content-left-right-style" id="content">
      <!-- <iframe src="http://www.baidu.com" height= "100%" width="100%" name="leftFrame" scrolling="yes"  noresize="noresize"  id="iframe"></iframe> -->

      <table class="table table-hover">
          <thead>
            <tr>
              <th>项目名</th>
              <th>语言</th>
              <th class="text-center">浏览量</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="_tbody">
          {% for project in projects %}
              <tr>
                  <td hidden="true"></td>
                  <td>{{ project.p_title }}</td>
                  <td>{{ project.p_language }}</td>
                  <td class="text-center">{{ project.p_read_count }}</td>
                  <td><a href="../detail?projectId={{ project.pk }}&title={{ project.p_title }}">查看详情</a></td>
              </tr>
          {% endfor %}
            {% for i in nums %}
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
            {% endfor %}
          </tbody>
      </table>

    <div class="row">
        <div class="col">
          <ul class="pagination">
              {% if contacts.has_previous %}
                  <li class="page-item"><a class="page-link" href="?page={{ contacts.previous_page_number }}">Previous</a></li>
              {% endif %}
              {% if contacts.paginator.num_pages > 1 %}
                  {% for pg in contacts.paginator.page_range %}
                      <li class="page-item"><a class="page-link" href="?page={{ pg }}">{{ pg }}</a></li>
                  {% endfor %}
              {% endif %}
              {% if contacts.has_next %}
                 <li class="page-item"><a class="page-link" href="?page={{ contacts.next_page_number }}">Next</a></li>
              {% endif %}
    {#        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>#}
    {#        <li class="page-item"><a class="page-link" href="#">1</a></li>#}
    {#        <li class="page-item"><a class="page-link" href="#">2</a></li>#}
    {#        <li class="page-item"><a class="page-link" href="#">3</a></li>#}
    {#        <li class="page-item"><a class="page-link" href="#">Next</a></li>#}
          </ul>
        </div>
        <div class="col">
            <li class="page-item" style="list-style: none;border: none;" id="totalPage"><a class="page-link text-right" style="border: none;">Total Page：{{ contacts.paginator.num_pages }}</a></li>
        </div>
    </div>

    </div>
    <div class="col-sm-3">

      <div class="card" style="text-align:left;">
        <div class="card-header bg-secondary text-white">热门项目</div>
        <div class="card-body">
          <ul class="list-group">
            {% for hotproject in hotProjects %}
                <a href="../detail?projectId={{ hotproject.pk }}&title={{ project.p_title }}"><li class="list-group-item">{{ hotproject.p_title }}</li></a>
            {% endfor %}
          </ul>

        </div>
      </div>


    </div>
  </div>

</div>

<div class="jumbotron text-center" style="margin-top:1px;">
  <p>Copyright © xxxx-xxxx Graduation Project Share 版权所有</p>
  <p>备案号：<a>川ICP备xxxxxxxx</a></p>
</div>


<!-- <script type="text/javascript">
    var div = document.getElementById('content');
    var width = div.style.width || div.clientWidth || div.offsetWidth || div.scrollWidth;
    console.log (width);
    iframe = document.getElementById('iframe');
    iframe.style.width = width
</script> -->
<script type="text/javascript">
    tbody = document.getElementById("_tbody")
    trs = tbody.getElementsByTagName("tr")
    trs[trs.length - 1].style.borderBottom = "1px solid #dee2e6"
  //屏幕的高度
  var h = document.documentElement.clientHeight || document.body.clientHeight;
  var div = document.getElementById("content")
  // console.log(h);
  // div.style.height = h*0.65 + 'px'

    function search_submit() {
        var searchbox = document.getElementById('keyword')
        keyword = searchbox.value
        if (''!= keyword && null != keyword){
            document.getElementById('searchForm').submit()
        }else{
            alert('请输入要查询得内容')
        }
    }

</script>
</body>
</html>
